<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>{{user}}</username>
            <password>{{password}}</password>
            <id>rocket-repos</id>
        </server>
        <server>
            <username>{{user}}</username>
            <password>{{password}}</password>
            <id>repo</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>{{sonar.url}}</sonar.host.url>
            </properties>
        </profile>
        <profile>
            <id>artifactory</id>
            <properties>
                <artifactory.url>{{artifactory.url}}</artifactory.url>
                <!--old name for backward compatibility-->
                <ARTIFACTORY_SERVER>{{artifactory.url}}</ARTIFACTORY_SERVER>
            </properties>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <id>rocket-repos</id>
                    <name>rocket-repos</name>
                    <url>${artifactory.url}/asg-maven-virtual-wal</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <id>rocket-repos</id>
                    <name>rocket-repos</name>
                    <url>${artifactory.url}/asg-maven-virtual-wal</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>